.base-input {
    border: 2px solid rgba(255,255,255,0.15);
    background-color: rgba(0,0,0,0.5);
    height: 2em;
    padding: 0 8px;
    color: white;
    outline: none;
}
.base-input:focus {
    border: 2px solid rgba(255,255,255,0.5);
}