.App {
  min-height: 100vh;
  position: relative;
}

.app-anime-list-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-left: 30px;
  box-sizing: border-box;
}